KAIWU_PROJECT_CODE=robot_vacuum
KAIWU_LICENSE_PATH=../license.dat
KAIWU_PROJECT_VERSION=13.0.1
KAIWU_CODE_FILE=../code
KAIWU_BACKUP_MODEL=./backup_model
KAIWU_CPU_TYPE=x86
KAIWU_MONITOR_PORT=11000
MONITOR_TRPC_PORT=11001
KAIWU_TRAIN_LOG=./log
KAIWU_PARALLEL_ENV_PER_AISRV=4
KAIWU_AISRV_NUM=1
KAIWU_TRAINING_MODE=distributed
KAIWU_ALGORITHM=ppo
KAIWU_GAMECORE_NUM=4
KAIWU_TASK_ID=0
KAIWU_TASK_UUID=YOUR_TASK_UUID
KAIWU_SET_CNT=1
KAIWU_SET_INDEX=0
KAIWU_DOMAIN_TYPE=competition_stage
KAIWU_PLAYER_TYPE=team
KAIWU_DOMAIN_ID=384
KAIWU_PLAYER_ID=YOUR_PLAYER_ID
KAIWU_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
PASTE_YOUR_PUBLIC_KEY_HERE
-----END PUBLIC KEY-----
"
USER_ID=YOUR_USER_ID
MONITOR_ID=YOUR_MONITOR_ID
TRACKER_ID=YOUR_TRACKER_ID
CLIENT_ENV=prod
KAIWU_CLIENT_VERSION=2.5.1
